@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* text: '',
primary: '',
secondary: '',
background: '' */

@layer base {
  html[data-theme='dark'] {
    --color-text: #abb2bf;
    --color-primary: #e67e22;
    --color-secondary: #293141;
    --color-background: #282c34;
  }

  html[data-theme='light'] {
    --color-text: #abb2bf;
    --color-primary: #e67e22;
    --color-secondary: #293141;
    --color-background: #282c34;
  }
}
:root {
  font-family: 'Roboto Mono', monospace;
}
.cm-editor .cm-content {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #282c34 #abb2bf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #abb2bf;
  border-radius: 14px;
  border: 3px solid #abb2bf;
}

body {
  display: flex;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 7.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
