@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* text: '',
primary: '',
secondary: '',
background: '' */

@layer base {
  html[data-theme='dark'] {
    --color-text: #abb2bf;
    --color-primary: #e67e22;
    --color-secondary: #293141;
    --color-background: #282c34;
    --color-insert: #2c663a;
    --color-delete: #e06c75;
    --color-delete-background: #663a3a;
    --color-deleted-chunk: rgba(160, 128, 100, 0.08);
  }

  html[data-theme='light'] {
    --color-text: #5e81ac;
    --color-primary: #d08770;
    --color-secondary: #e8e3e3;
    --color-background: #efefef;
    --color-insert: #a9d08d;
    --color-delete: #535353;
    --color-delete-background: #f8cecc;
  }
}
:root {
  font-family: 'Roboto Mono', monospace;
}
.cm-editor .cm-content {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

body {
  display: flex;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 7.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
